[submodule "submodules/grugnoymeme/flipperzero-badUSB"]
	path = submodules/grugnoymeme/flipperzero-badUSB
	url = https://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@github.com/grugnoymeme/flipperzero-badUSB
